* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  color: #18333E;
}

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

html {
  width: 100%;
}

body {
  font-family: "Baloo 2", sans-serif;
  margin: 0 auto;
  background-color: #F2F8FD;
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  padding-top: 35px;
  padding-bottom: 33px;
}

.nav_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 72.205px;
  height: 64px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 75px;
  margin-top: 25px;
}

.search-form__txt {
  width: 668px;
  height: 53px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 26.5px;
  background: #E9F1FA;
  background-image: url(../../img/search-normal.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  margin-left: 145px;
  margin-top: 30px;
}

.setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  margin-left: 62px;
  margin-top: 30px;
}

.el1 {
  position: absolute;
  z-index: -1;
}

.set {
  position: relative;
}

.line {
  width: 1px;
  height: 41px;
  background-color: #b4bcc4;
  margin-left: 74px;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
  margin-left: 37px;
  margin-top: 30px;
}

.text-location {
  color: #18333e;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 93px;
}

.sms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 88px;
  margin-top: 30px;
}

.bing {
  width: 53px;
  height: 53px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid #b4bcc4;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.elips-red {
  width: 10px;
  height: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border-radius: 50%;
  background-color: #ff7f5c;
}

.icon {
  margin-top: 30px;
  margin-left: 33px;
}