.location {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 14px;
  margin-left: 37px;
  margin-top: 30px;
}

.text-location {
  color: #18333e;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 93px;
}
